html, body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  /* Largeur 100% */
  min-height: 100%;
  /* 100% sur la hauteur */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  /* l'un en dessous de l'autre */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* chaque row à la ligne */
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  /* centrer horizontalement */
  align-items: center;
  -ms-flex-align: center;
  /* centrer verticalement */
  justify-content: center;
  -ms-flex-pack: center;
  /*background-color: rgb(249, 247, 196);*/
}

.row1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  -ms-flex-direction: row;
  width: 70%;
  max-width: 960px;
  min-width: 460px;
  background-color: rgb(255, 255, 255);
}

#canvas1 {
  background-color: rgb(233, 232, 199);
}

#canvas2 {
  background-color: rgb(180, 198, 177);
}